{
    "presets": [
        //"es2015" --如果是 WebStrom 2017 后面的版本，这里不能再使用 es2015 了，需要使用最新的 env
        ["env", {
            "targets": {
                "node": "14.15.1"
            }
        }]
    ]
}
